@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style type="text/css">
        body {
            background: #ffffff;
            font-size: 14px;
            font-family: Trebuchet MS;
        }
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
